body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/***main page style***/
.main-page{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*****End main page style *******/
/*******Login Form style************/
.register-login-form {
  width: 100%;
  max-width: 330px;
  padding: 35px;
  height: 100%;
  margin-top:5% !important;
  background: darkgray;
  border-radius: 10px;
}
.submit-btn{
  width: 150px;
}
.submit-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/****************/
/******NavBar*****/
.username-in-nav{
  padding: 5px;
  background-color: #d3d1ce;
  border-radius: 5px;
}
/****************/
/******Map Style*******/
#mapID{
  width: 100%;
  height: 90vh;
}
/****************/
/****** Review List Style  *****/
.reviews-list-container{
  /* display: flex;
  flex-direction: row;
  justify-content: end;
  position: absolute; */
  /* right: 0; */
  min-width: 350px;
  /* padding-right: 15px; */
  /* max-height: 75vh !important; */
  overflow: overlay;
  height: 90vh;
}
.reviews-list-container .card-body{
  /* border-radius:5px; */
  /* background-color:yellowgreen */
 border-bottom: 1px solid rgb(177, 174, 174);
}
.reviews-list-container .card-body.highlighted{
  background: wheat;
}
.reviews-list-container .content{
  background-color: blueviolet;
  margin: 10px 5px;
  width: 300px !important;
  z-index: 1500;
  height: 75vh;
  
}
p.card-text{
margin: 0;
}
/***********/

/********Leaflet style*****/
.leaflet-control-feature-legend-title{
  font-size: large !important;
  margin-bottom:10px ;
}
.leaflet-control-feature-legend.leaflet-control div{
  display: flex;
  flex-direction: row;
}
.leaflet-control-feature-legend.leaflet-control div span{
  /* height: 20px; */
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 9px;
      font-weight: bolder;
}
.leaflet-top.location{
  position: absolute;
    top: 13em;
}
.leaflet-control.location{
  background: white;
}
.leaflet-control.location img.location-control{
  width: 30px;
    height: 30px;
    line-height: 30px;
}
/**************/

/*******Star rating Component****************/
.result {
  text-align: center;
  margin-bottom: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.star {
  position: relative;
  cursor: pointer;
}

.stars_radio-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/************************/

/*****Welcome page*******/
.welcome-page-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-self: center; */
  height: 90vh;
  font-size: xxx-large;
}
/***********************/

/*Loader*********/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.loader {
  border: 16px solid #e3e3e3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*******/

